# SQL Server Configuration
SQLSERVER_SA_PASSWORD=Unicesar+2026
SQLSERVER_PORT=1433
SQLSERVER_CONTAINER_NAME=taskflow-sqlserver

# API Configuration
API_PORT=8080
API_ENVIRONMENT=Development
API_CONTAINER_NAME=taskflow-api

# Database Configuration
DATABASE_NAME=TaskFlowDB
DATABASE_USER=sa

# Docker Network
DOCKER_NETWORK=taskflow-network

# Image Configuration
IMAGE_NAME=julianariasdev/taskflow-api
IMAGE_TAG=latest
